<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
  link(href="https://fonts.googleapis.com/css?family=Montserrat:300,400" rel="stylesheet")
  title Pomodoro Clock
body
  .app-wrapper
      h1 Pomodoro Clock
      .timer
        h1 4:20
      .timer-engine
        .break-set
          h2 Break
          img(src="../templates/upArrow.svg" alt="upArrow" data-key='up')
          span 42
          img(src="../templates/upArrow.svg" alt="upArrow" data-key='down')
          p min
        .timer-set
          h2 Time
          img(src="../templates/upArrow.svg" alt="upArrow" data-key='up')
          span 42
          img(src="../templates/upArrow.svg" alt="upArrow" data-key='down')
          p min